{% load static %}
<!DOCTYPE html>
 
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Produtos</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" />
   
</head>
<body>
    <div class="container">
        <h1>Produtos</h1>
        <h2>Confira nossos produtos!</h2>
        <ul>
            {% for produto in produtos %}
                <li>{{ produto.nome }} - R$ {{ produto.preco }}</li>
            {% endfor %}
        </ul>
    </div>
     <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
 
 